<section class="hero mx-width mrg-center">
    <div class="wrapper">
        <header class="header">
            <h1 class="header-text">
                What if crawling websites went from <ul class="dropdown-header">
                    <li class="item go-down">Slow</li>
                    <li class="item go-down">Costly</li>
                    <li class="item go-down">Hard</li>
                    <li class="item go-down">Slow</li>
                </ul> to <ul class="dropdown-header">
                    <li class="item go-up">Fast</li>
                    <li class="item go-up">Simple</li>
                    <li class="item go-up">Cheap</li>
                    <li class="item go-up">Fast</li>
                </ul>?</h1>
        </header>
        <div class="blurb">
            <div class="blurb-text">
                Our servers <span class="tx-primary">crawl millions of URLs</span> daily, cost <span class="tx-primary">£160 a month</span>, and are on <span class="tx-primary">30-day contracts</span>.
            </div>
        </div>
        <div class="mp-only mp-request-a-box">
            <a class="mp-request-a-box-btn cta cta-primary fc-black" href="#contact">Request a Box</a>
        </div>
    </div>
</section>