<section class="hero mx-width mrg-center">
    <div class="wrapper">
        <header class="header">
            <h1 class="header-text">
                What if crawling websites was not <ul class="dropdown-header"><li class="item selected">Slow</li><li class="item">Expensive</li><li class="item">Complicated</li></ul> but instead <ul class="dropdown-header"><li class="item">Simple</li><li class="item">Cheap</li><li class="item selected">Fast</li></ul></h1>
        </header>
        <div class="blurb">
            <div class="blurb-text">
                Our servers crawl millions of URLs daily, cost £160 monthly, and are on 30-day contracts.
            </div>
        </div>
        <div class="mp-only mp-request-a-box">
            <a class="mp-request-a-box-btn cta cta-primary fc-black" href="#">Request a Box</a>
        </div>
    </div>
</section>