<section class="brands-banner">
    <div class="wrapper">
        <header class="brands-banner-header">
            <h2 class="brands-banner-header-text para">Who we've worked with:</h2>
        </header>
        <div class="brands-banner-logos-list">
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="50px" src="https://placehold.co/100x50" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
        </div>
    </div>
</section>