<section class="brands-banner">
    <div class="wrapper">
        <header class="brands-banner-header">
            <h2 class="brands-banner-header-text para">Who we've worked with:</h2>
        </header>
        <div class="brands-banner-logos-list">
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/checkatrade-logo.png" alt="Check a Trade" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/webopedia-logo.svg" alt="Webopedia Logo" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/cryptomaniaks-logo.svg" alt="Crypto Maniaks" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/forbes-advisor-logo.png" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/curly-hair-logo.png" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
            <div class="brands-banner-logos-list-list-items">
                <img fetchpriority="high" decoding="async" height="30px" src="/images/logos/dognutrition-logo.png" alt="" class="brands-banner-logos-list-list-items-img">
            </div>
        </div>
    </div>
</section>