<section class="pitch">
    <div class="wrapper">
        <header class="pitch-header">
            <h2 class="pitch-header-text underline">What's the pitch?</h2>
        </header>

        <div class="pitch-problems">
            <div class="pitch-problems-header">
                <h3 class="pitch-problems-header-text header-5">We solve 3 problems:</h3>
            </div>
            <div class="pitch-cards">
                <div class="row row-1">
                    <div class="pitch-cards-count">1</div>
                    <div class="pitch-cards-header header-5">Errors</div>
                </div>
                <div class="row">
                    <div class="pitch-cards-content">
                        “Our team are <span class="strong">making changes</span> to the site pretty much every day, and
                        I need to keep on top of when and where something may harm SEO performance”
                    </div>
                </div>

            </div>
            <div class="pitch-cards">
                <div class="row row-1">
                    <div class="pitch-cards-count">2</div>
                    <div class="pitch-cards-header header-5">Errors</div>
                </div>
                <div class="row">
                    <div class="pitch-cards-content">
                        “Our team are <span class="strong">making changes</span> to the site pretty much every day, and
                        I need to keep on top of when and where something may harm SEO performance”
                    </div>
                </div>

            </div>
            <div class="pitch-cards">
                <div class="row row-1">
                    <div class="pitch-cards-count">3</div>
                    <div class="pitch-cards-header header-5">Errors</div>
                </div>
                <div class="row">
                    <div class="pitch-cards-content">
                        “Our team are <span class="strong">making changes</span> to the site pretty much every day, and
                        I need to keep on top of when and where something may harm SEO performance”
                    </div>
                </div>

            </div>

        </div>
        <div class="pitch-solutions">
            <div class="pitch-solutions-header">
                <div class="pitch-solutions-header-text header-5">
                    How do we solve these problems?
                </div>
                <div class="pitch-solutions-header-text">
                    We offer both <span class="strong">DIY</span> and <span class="strong">DIFM</span> solutions:
                </div>
            </div>

            <div class="pitch-solutions-card">
                <div class="pitch-solutions-card-header">
                    <div class="pitch-solutions-card-header-icon"></div>
                    <div class="pitch-solutions-card-header-text"><strong>DIY </strong>(Do it Yourself):</div>
                </div>
                <div class="pitch-solutions-card-blurb">
                    We offer purpose-built crawling servers, which allow teams to run crawls as often as they want -
                    without bandwidth or time restraints.
                </div>
            </div>
            <div class="pitch-solutions-card">
                <div class="pitch-solutions-card-header">
                    <div class="pitch-solutions-card-header-icon"></div>
                    <div class="pitch-solutions-card-header-text"><strong>DIFM </strong>(Do it For Me):</div>
                </div>
                <div class="pitch-solutions-card-blurb">
                    We can run the crawls for you, offering daily crawls for as little as £80 PCM. For a little extra,
                    we are also willing to provide tickets for the issues we’ve found.
                </div>
            </div>
        </div>
    </div>
</section>