<section class="pricing">

    <div class="wrapper">
        <header class="pricing-header">
            <h2 class="pricing-header-text">Pricing</h2>
        </header>

        <div class="pricing-toggle">
            <div class="pricing-toggle-options">
                <div class="pricing-toggle-options-option selected" id="crawling-servers">Crawling Servers</div>
                <div class="pricing-toggle-options-option" id="managed-services">Managed Services</div>
                <div class="horizontal-line"></div>
            </div>

        </div>

        <div class="pricing-deck crawling-servers">
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Standard</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Cores
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        8
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Storage
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        200GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Cloud Storage
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        1TB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                    <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Standard</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                    <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Standard</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                   <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
        </div>
        <div class="pricing-deck managed-services hide">
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Test</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Cores
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        8
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Storage
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        200GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Cloud Storage
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        1TB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                    <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Standard</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                    <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
            <article class="pricing-cards">
                <header class="pricing-cards-header">
                    <h3 class="pricing-cards-header-text">Standard</h3>
                </header>

                <div class="pricing-cards-costs-row">
                    <div class="pricing-cards-costs-row-price">£160</div>
                    <div class="pricing-cards-costs-row-cadence">PCM (ex VAT)</div>
                </div>

                <div class="pricing-cards-scorecard">
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                    <div class="pricing-cards-scorecard-property">
                        Memory
                    </div>
                    <div class="pricing-cards-scorecard-value">
                        64GB
                    </div>
                </div>

                <div class="pricing-cards-cta">
                    <a class="pricing-cards-cta-text" href="#contact">Enquire Now</a>
                </div>

            </article>
        </div>
    </div>

</section>

<script>
    (function(){
        const controls = Array.from(document.querySelectorAll(".pricing-toggle-options-option"));
        console.log(controls.length);

        controls.forEach(control => {
            control.addEventListener("click", e =>{
                const clickButton = e.target;
                console.log(clickButton);
                const otherButton = controls[0].textContent === clickButton.textContent ? controls[1] : controls[0];
                console.log(otherButton);


                clickButton.classList.toggle("selected");
                otherButton.classList.toggle("selected");

                document.querySelector(".crawling-servers").classList.toggle("hide");
                document.querySelector(".managed-services").classList.toggle("hide");

            })
        })

    })();
</script>