<section class="testimonials">

    <div class="testimonials-speechmark"></div>
    <div class="testimonials-deck">
        <article class="testimonials-cards">

            <div class="testimonials-cards-blurb">
                Their SEO expertise is unmatched—deep technical knowledge, data-driven strategies, and flawless execution. They optimized our site with precision, delivering measurable improvements. Highly recommend!
            </div>

            <div class="testimonials-cards-bio">
                <div class="testimonials-cards-bio-profile">
                    <img src="https://placehold.co/80x80" alt="" class="testimonials-cards-bio-profile-img">
                </div>
                <div class="testimonials-cards-bio-profile">
                    <div class="testimonials-cards-bio-profile-name">John Doe</div>
                    <div class="testimonials-cards-bio-profile-title">King of Kings</div>
                    <div class="testimonials-cards-bio-profile-company">Google</div>
                </div>
            </div>

        </article>
        <article class="testimonials-cards">

            <div class="testimonials-cards-blurb">
                Their SEO expertise is unmatched—deep technical knowledge, data-driven strategies, and flawless execution. They optimized our site with precision, delivering measurable improvements. Highly recommend!
            </div>

            <div class="testimonials-cards-bio">
                <div class="testimonials-cards-bio-profile">
                    <img src="https://placehold.co/80x80" alt="" class="testimonials-cards-bio-profile-img">
                </div>
                <div class="testimonials-cards-bio-profile">
                    <div class="testimonials-cards-bio-profile-name">John Doe</div>
                    <div class="testimonials-cards-bio-profile-title">King of Kings</div>
                    <div class="testimonials-cards-bio-profile-company">Google</div>
                </div>
            </div>

        </article>
        <article class="testimonials-cards">

            <div class="testimonials-cards-blurb">
                Their SEO expertise is unmatched—deep technical knowledge, data-driven strategies, and flawless execution. They optimized our site with precision, delivering measurable improvements. Highly recommend!
            </div>

            <div class="testimonials-cards-bio">
                <div class="testimonials-cards-bio-profile">
                    <img src="https://placehold.co/80x80" alt="" class="testimonials-cards-bio-profile-img">
                </div>
                <div class="testimonials-cards-bio-profile">
                    <div class="testimonials-cards-bio-profile-name">John Doe</div>
                    <div class="testimonials-cards-bio-profile-title">King of Kings</div>
                    <div class="testimonials-cards-bio-profile-company">Google</div>
                </div>
            </div>

        </article>
        <div class="testimonials-controls">
            <div class="testimonials-controls-list">
                <div class="testimonials-controls-list-box selected"></div>
                <div class="testimonials-controls-list-box"></div>
                <div class="testimonials-controls-list-box"></div>
            </div>
        </div>
    </div>
</section>