<footer class="footer">

    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="footer-logo">
                    <a href="/" aria-label="Go to homepage">
                        <picture>
                            <source media="(max-width:1000px )" srcset="/images/mobile-logo.svg">
                            <source media="(min-width:1000px )" srcset="/images/desktop-logo.svg">
                            <img src="/images/mobile-logo.svg" alt="Scalable Crawling logo" class="footer-logo-img">
                        </picture>
                    </a>
                </div>

                <div class="footer-blurb">
                    We have over 30 years of combined SEO experience, helping everyone from SME’s to FTSE 100 brands to
                    understand, plan and execute strategies that grow their SEO. We now provide crawling services.
                </div>
            </div>

            <div class="col">
                <div class="services">
                    <h3 class="services-header header-5 ">Services</h3>
                    <ul class="services-ul">
                        <li class="services-li">
                            <a href="#" class="services-link">Services</a>
                        </li>
                        <li class="services-li">
                            <a href="#" class="services-link">Managed Services</a>
                        </li>
                    </ul>
                </div>

                <div class="services">
                    <h3 class="services-header header-5 ">Company</h3>
                    <ul class="services-ul">
                        <li class="services-li">
                            <a href="#" class="services-link">About</a>
                        </li>
                        <li class="services-li">
                            <a href="#" class="services-link">Get in Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright">© {{ now.Year }} Scalable Crawling</div>
            </div>
        </div>

    </div>

</footer>