<div class="header sticky">
    <nav class="nav">
        <div class="logo">
            <picture>
                <source media="(max-width:1000px )" srcset="/images/mobile-logo.svg">
                <source media="(min-width:1000px )" srcset="/images/desktop-logo.svg">
                <img src="/images/mobile-logo.svg" alt="" class="logo-img">
            </picture>
        </div>
        <ul class="nav-ul hide">
            <li class="nav-li"><a href="#" class="nav-links">Servers</a></li>
            <li class="nav-li"><a href="#" class="nav-links">Managed Services</a></li>
            <li class="nav-li"><a href="#" class="nav-links">Pricing</a></li>
        </ul>
        <div class="nav-cta hide">
            <a href="#" class=" cta cta-primary">Request a Box</a>
        </div>

        <div class="nav-hamburger">
            <img src="/images/hamburger.svg" alt="" class="hamburger-hamburger">
            <img src="/images/hamburger-open.svg" alt="" class="hamburger-hamburger-open hide">
        </div>
    </nav>
</div>

<script>
    (function(){

        const closedHamburger = document.querySelector(".hamburger-hamburger");
        const openHamburger = document.querySelector(".hamburger-hamburger-open");
        const navUl = document.querySelector(".nav-ul");
        const navCTA = document.querySelector(".nav-cta");

        closedHamburger.addEventListener("click",e=>{
            closedHamburger.classList.add("hide");
            openHamburger.classList.remove("hide");
            navUl.classList.remove("hide");
            navCTA.classList.remove("hide");

        })
        openHamburger.addEventListener("click",e=>{
            closedHamburger.classList.remove("hide");
            openHamburger.classList.add("hide");
            navUl.classList.add("hide");
            navCTA.classList.add("hide");
        })

        
    })();
</script>