<span class="toggle mp-only">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 32 33" fill="none" class="toggle-icon-close">
        <rect y="0.551758" width="32" height="32" fill="#FFC300" />
        <rect x="7" y="13.5518" width="18" height="6" fill="#000814" />
        <rect x="13" y="25.5518" width="18" height="6" transform="rotate(-90 13 25.5518)" fill="#000814" />
    </svg>

    <svg width="45" height="45" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="toggle-icon-open">
        <rect width="32" height="32" fill="#FFC300" />
        <rect x="7" y="13" width="18" height="6" fill="#000814" />
    </svg>
</span>