.pitch {
    padding-top: 10px;

    .wrapper {
        height: 100%;
        min-height: 300px;
        max-width: $large-width-container;
        margin: 0 auto;
        width: 95%;

        
    }

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-text {
            padding: 30px 0;
            text-align: center;
            display: inline-block;
            width: fit-content;
            margin: 0 auto;
            color: $secondary-colour;
        }
    }

    &-problems {
        background-color: $grey;
        padding: 30px 0;

        @media screen and (min-width:$medium-width-container ) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        &-header {
            display: block;
            width: 100%;
            


            &-text {
                text-align: center;
                color: $secondary-colour;
                font-size: 1.9rem;
            }
        }
    }

    &-cards {
        width: 300px;
        height: 250px;
        margin: 0 auto;

        @media screen and (min-width:$medium-width-container ) {
            max-width: 300px;
            height: 300px;
        }

        &:hover {
            transform: scale(1.05);
        }

        .row {

            
        }

        .row-1 {
            width: 90%;
            max-width: 450px;
            margin: 0 auto;

            
        }

        &-count {
            font-weight: 600;
            height: 30px;
            width: 30px;
            background-color: $primary-colour;
            text-align: center;
            transform: translate(-15px, 40px);
            font-size: 1rem;
            line-height: 1.4rem;
            font-size: 700;
            border: 4px solid var(--Gray-10, #E6E6E6);
        }

        &-header {
            color: $secondary-colour;
            transform: translate(35px, 12px);

        }

        &-content {
            background-color: $white;
            padding: 40px;
            width: 90%;
            max-width: 400px;
            margin: 0 auto;
            font-style: italic;
        }

    }

    &-solutions {
        background-color: $grey;
        display: flex;
        flex-wrap: wrap;
               

        &-header {
            display: block;
            width: 100%;
            padding: 20px 0;

            &-text {
                text-align: center;
                padding: 10px 0;
                color: $secondary-colour;
            }
        }

        &-card {
            width: 90%;
            max-width: 430px;
            margin: 0 auto 20px;
            background-color: white;
            padding: 20px;
            width: 340px;
            height: 300px;

            @media screen and (min-width:$medium-width-container ) {
                padding: 40px;
            }


            &-header {
                display: flex;
                position: relative;

                &-icon {
                    position: absolute;
                    right: 0px;
                    top: -30px;
                    height: 60px;
                    width: 60px;
                    border: 1px solid $secondary-colour;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;


                }
                &-text {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #E6E6E6;
                    color: $secondary-colour;

                }
            }

            &-blurb {
                color: $secondary-colour;
                font-size: 1.1rem;
                line-height: 2rem;
            }
        }
    }
}