.managed-crawling {
    background-color: #e6e6e6;
    padding: 62px 0;

    .wrapper {
        max-width: $large-width-container;
        margin: 0 auto;
        width: 95%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        @media screen and (min-width: $large-width-container) {
            justify-content: flex-end;
        }
    }

    .block {
        width: 100%;
        max-width: 1000px;

        @media screen and (min-width: $large-width-container) {
            max-width: 600px;
        }
    }

    &-picture {
        width: 100%;

        @media screen and (min-width: $medium-width-container) {
            margin-right: auto;
            max-width: 500px;
        }

        &-img {
            width: 100%;
            max-width: 800px;
            box-shadow: 8px 8px 0 0 #ffc300;
        }
    }

    &-header {
        padding: 30px 0 10px;
        width: 100%;
        max-width: 500px;
        height: fit-content;

        &-text {
            padding-bottom: 20px;
        }
    }

    &-standfirst {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 700;
        width: 100%;
        max-width: 500px;
    }

    &-content {
        padding: 10px 0;
    }

    &-faq {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        &-block {

            .managed-crawling-faq-block-content {
                display: none;

                @media screen and (min-width: $medium-width-container) {
                    display: block;
                }
            }

            &.open {
                .managed-crawling-faq-block-content {
                    display: block;
                }
            }

            &-header {
                display: flex;
                justify-content: space-between;
                padding: 20px 20px 20px 0;

                &-text {
                    flex-grow: 3;
                }
            }

            .toggle {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .toggle-icon-open {
                    display: none;
                }

                .toggle-icon-close {
                    display: block;
                }

                &.open {

                    .toggle-icon-open {
                        display: block;
                    }

                    .toggle-icon-close {
                        display: none;
                    }
                }
            }
        }
    }
}
