.pricing {
        content-visibility: auto;
    

    .wrapper {
        max-width: $large-width-container;
        margin: 0 auto;
        width: 95%;
        padding-bottom: 40px ;
    }

    &-header {
        padding: 15px 0;

        &-text {
            text-align: center;
        }
    }

    &-toggle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        padding: 20px 0;

        &-options {
            display: flex;
            width: 100%;
            max-width: 400px;
            border: 1px solid $secondary-colour;
            

            &-option {
                width: 250px;
                text-align: center;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.2rem;
                padding: 10px 0;
                z-index: 2;
                background-color: white;
                letter-spacing: 2px;

                &:hover {
                    background-color: #{lighten($primary-colour,30%)};
                    cursor: pointer;
                }

                &.selected {
                    background-color: $primary-colour;
                }

            }
        }

        .horizontal-line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #E6E6E6;
            top: 50%;
            z-index: 1;
            left: 0;
        }
    }

    &-deck {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:$medium-width-container ) {
            flex-direction: row;
        }

    }

    &-cards {
        padding: 20px; 
        min-width: 300px;
        max-width: 350px;
        border: 2px solid $secondary-colour;
        margin-bottom: 20px;

        @media screen and (min-width:$medium-width-container ) {
            margin-bottom: unset;
            margin-right: 20px;
        }

        &-header {

            &-text {
                border-bottom: 2px solid $secondary-colour;
                font-size: 1.4rem;

                .sub-text {
                    font-size: 0.8rem;
                    line-height: 1.2rem;
                }
            }
        }

        &-costs-row {

            &-price {
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1.4rem;
                padding-top: 10px;
            }
            &-cadence {
                font-size: 0.8rem;
            }
        }

        &-scorecard {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;

            &-property {
                font-weight: 700;
                width: 75%;
                padding: 5px 0;
                color: $secondary-colour;
            }
            &-value {
                width: 25%;
                padding: 5px 0;
                text-align: center;
                color: $secondary-colour;

            }

            &-explainer {
                width: 100%;
                padding: 10px 0;
            }
        }

        &-cta {
            padding: 10px;
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            background-color: $primary-colour;
            cursor: pointer;

            &:hover {
                background-color: #{lighten($primary-colour,30%)};
            }

            &-text {
                text-align: center;
                display: inline-block;
                width: 100%;
                font-weight: 700;
                font-size: 1rem;
                color: $secondary-colour;
                font-weight: 700;
            }
        }
    }
}

