@import "../globals/clash-display";
@import "../globals/satoshi";
@import "../globals/colours";

div, p, section, aside, .para {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Satoshi-Regular';
}
a {
    all: unset;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

h1, .header-1 {
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}
h2, .header-2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}
h3, .header-3 {
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}
h4, .header-4 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}
h5, .header-5 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}
h6, .header-6 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'ClashDisplay-Semibold';
    letter-spacing: 1.4px;
}

.underline {
        display: inline-block;
        padding-bottom: 5px;
        &::after {
            content: '';
            display: block;
            margin: auto;
            height: 6px;
            width: 0px;
            background:  $primary-colour; 
            animation-name: underline;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }       
}
.underline-slim {
    display: inline-block;
        &::after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background:  $primary-colour; 
            animation-name: underline;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }    
}
.underline-grey {

    display: inline-block;
        &::after {
            content: '';
            display: block;
            margin: auto;
            height: 6px;
            width: 0px;
            background:  rgba(204, 204, 204, 1); 
            animation-name: underline;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            margin-top: 5px;
        }    

}

.strong {
    font-weight: 700;
}

.tx-primary {
    color: $primary-colour;
    font-weight: 600;
    letter-spacing: 1px;
}